<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @dolar.valor %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @dolar.fecha %>
</p>

<%= link_to 'Edit', edit_dolar_path(@dolar) %> |
<%= link_to 'Back', dolars_path %>
