<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @uf.valor %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @uf.fecha %>
</p>

<%= link_to 'Edit', edit_uf_path(@uf) %> |
<%= link_to 'Back', ufs_path %>
